@font-face {
  font-family: "iransans";
  src: url("../fonts/IRANSansWeb.ttf");
}
@font-face {
  font-family: yekan;
  src: url("../fonts/BYekan.ttf");
}

body {
  font-family: iransans;
  background-image: url("../images/1.png");
  background-attachment: fixed;
  direction: rtl !important;
}

.a-form .container {
  max-width: 85%;
}

.cyan {
  color: #ccffff;
}

.footer .container {
  width: 90%;
}

.authentication .form-control, .authentication .form-control:focus {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.authentication .form-control {
  border-color: white;
}

.authentication ::-webkit-input-placeholder { /* Chrome */
  color: rgb(200, 200, 200) !important;
}
.authentication :-ms-input-placeholder { /* IE 10+ */
  color: rgb(200, 200, 200);
}
.authentication ::-moz-placeholder { /* Firefox 19+ */
  color: rgb(200, 200, 200);
  opacity: 1;
}
.authentication :-moz-placeholder { /* Firefox 4 - 18 */
  color: rgb(200, 200, 200);
  opacity: 1;
}

.content {
  min-height: 500px;
}

/* Header Footer */

.footer .container {
  width: 90%;
}

.shadow{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}


.bordernav {
  border-bottom: 2px solid #E6E6FA;
}

nav, .navbar-light {
  background: white !important;
}
.navbar {
  width: 97%;
  margin: auto;
}

/* Profile */

.borderimg{
  border-width: 4px!important;
}
.pinktext{
  font-size: 17px;
  color:LightPink;
}
.checkmark{
  font-size: 24px;
  color:LightPink;
}
.bcheckmark{
  font-size: 27px;
}
.hrpink{
  background-color:Plum;
}
.lowcap{
  background-color:Plum;
  opacity: 0.2;
}

.tab-content {
    width: 100%;
}

.best-bg {
  background-image: url("../images/z.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.yekan{
  font-family:yekan;
}
.ptext{
  color: #706676;
}
.ptext2{
  color: #52435B;
}
.macback{
  background-color: #F9F2FA;
}
.back1{
  background-color: #FAF8FA;
}
.white-bg {
  background-color: #FFF;
}
.backwh{
  background-color:rgba(245,245, 245,1);
}